---
import  {GetData}  from '../components/GetData'
import Movies from '../components/Movies'

const array1 = [1,2,3,4,5,6,7,8]
const me = "bob"
const ep = await GetData()
    // .then( (data) => data)
const data = Movies()
---

<h1>bktest</h1>

{
array1.map( (key) => <p>{key}</p> )
}

<Movies />

{
ep.map( (item) => <p>{item.employeeName}</p>)
}

<p>{me}</p>