---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import CalendarTable2 from '../components/CalendarTable2.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<p class="bg-gray-900 text-white">Home Page</p>
	<CalendarTable2 />
</Layout>
