---
import "../styles/global.css"; 
import TableHeader from './TableHeader.astro'
import TableRow from './TableRow.astro'
import { GetFlatBookings } from "./GetData";

const hours = [1,2,3,4,5,6,7,8,9,10,11,12,13,14];

const bookings = await GetFlatBookings('2025-03-25')
console.log('CTable: ', bookings)
---

<div class="table-container">
    <table class="w-4xl">
        <TableHeader />
        <tbody>
            <tr class="row">
                <th class="thstyle">Fri<br>23<br>March</th>
                {
                    hours.map( (index) => <td class="tdcell">Book{index}</td>)
                }
            </tr>
            <tr class="row">
                <th class="thstyle">Sat<br>24<br>March</th>
                {
                    hours.map( (index) => <td class="tdcell">Book{index}</td>)
                }
            </tr>
                <!-- <TableRow bookings = {bookings} />  -->
                {
                    bookings.map( row =>  
                        <TableRow row = {row} />
                    )
                }
        </tbody>
    </table>
</div>

<style>
    table {
      @apply border;
    }
</style>

<script>
    const tr = document.querySelectorAll('.row')
    for (const row of tr) {
        row.addEventListener('click', () => window.location.href='orig')
    }
</script>